@import "./Layout.scss";
.take-image{
    background-image: url('/whatsapp.webp');
    background-position: center;
    background-size: cover;
}
.takeimagewhatsapp{
    background-image: url('/wapp.png');
    background-position: center;
    background-size: cover;
}